* {
  font-family: Arial, Helvetica, sans-serif; color: white
}
.title12 {
  text-align: center;
}
h1 {
  font-size: 26px;
}
body {
  font-family: Arial, Helvetica, sans-serif; font-size: 20px; text-align: left; background-image: url('./background-image/background-image5.jpg');
}
.title1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.infocontent {
 padding: 10px;
 border: 2px solid white;
 margin: 0;
 text-align: left;
}
.beginblog {
  font-size: 32px; font-weight: bold;
}
hr {
 border: none; height: 3px; background-color: white;
}
table {
    width: 100%;
    border-color: blue
}
td, th {
    padding: 10px;
    border: 10px solid white;
}
.disclaimer {
  font-size: 12px;
}
.mainimg {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
